{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card shadow-sm">
            {% if object.image %}
                <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.caption }}">
            {% endif %}

            <div class="card-body">
                <h3 class="card-title">{{ object.caption }}</h3>
                <hr>
                <p class="text-muted">
                    <strong>Автор:</strong>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'accounts:detail' object.author.pk %}">
                            {% firstof object.author.get_full_name object.author.username %}
                        </a>
                    {% else %}
                        {% firstof object.author.get_full_name object.author.username %}
                    {% endif %}
                </p>
                <p class="text-muted">
                    <strong>Альбом:</strong>
                    {% if object.album %}
                        {{ object.album.title }}
                    {% else %}
                        <span class="badge bg-secondary">Без альбома</span>
                    {% endif %}
                </p>
                <p class="text-muted">
                    <strong>Дата создания:</strong> {{ object.created_at|date:"d.m.Y H:i" }}
                </p>
            </div>
            {% if request.user == object.author %}
                <div class="card-footer bg-transparent border-top-0 text-end mb-3 me-3">
                    <a href="{% url 'albumApp:photo-update' object.pk %}" class="btn btn-outline-warning btn-sm me-2">
                        Редактировать <i class="fa-regular fa-pen-to-square ms-1"></i>
                    </a>
                    <a href="{% url 'albumApp:photo-delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                        Удалить <i class="fa-regular fa-trash-can ms-1"></i>
                    </a>
                </div>
            {% endif %}
        </div>
       {% include 'partial/favorite_users.html'%}
    </div>
</div>
{% endblock %}
